body{
	background-color: #0A2351;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color: white;
	text-align: center;
}
/*******Botões de retorno à primera página (index.html)*******/
.home{
	position : absolute;
	top : 450px;
	left : 555px;
	border: 1px solid #0A2351;
	border-style: solid;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	font-size: 13px;
	color: #B6922E;
	padding: 10px 15px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.5);
	width: 15%;
}
a{
	color: #B6922E;
	text-decoration: none;
}
.arquivo{
	margin: 90px 450px;
	position: inherit;
	display: center;
	text-align: center;
	width: 325px;
	height: 200px;
	padding: 5px 60px;
	font-size: 100%;
	color: #000000;
	background-color: #709CED;
}

.botao{
	position: absolute;
	top : 285px;
	left: 567px;
	border : 0px solid;
	margin: 5px 10px;
	position: center;
	text-align: center;
	display: inline-block;
	width: 14%;
	padding : 10px 10px;
}
.botao:hover{
	position: absolute;
	top : 285px;
	left: 567px;
	border : 0px solid;
	margin: 5px 10px;
	position: center;
	text-align: center;
	display: inline-block;
	width: 14%;
	padding : 10px 10px;
	color : white;
	background-color: #0A2351;
}

p{
	position : absolute;
	top : 180px;
	left : 500px;
}