body{
	background-color: #0A2351;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color: white;
	text-align: center;
}
form{
	position: center;
	text-align: center;
	width: 50%;
}
.home{
	border: 1px solid #0A2351;
	border-style: solid;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	font-size: 13px;
	color: #B6922E;
	padding: 10px 15px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.5);
	width: 15%;
}
a{
	color: #B6922E;
	text-decoration: none;
}
.visita{
	margin: 10px 130px;
	position: inherit;
	display: center;
	text-align: center;
	width: 300px;
	height: 320px;
	padding: 5px 60px;
	font-size: 100%;
	color: #000000;
	background-color: #709CED;
}
select{
	position : absolute;
	left :582px;
	border: 0px solid;
	border-style: solid;
	padding: 8px 15px;
	text-decoration: none;
	background-color: #FFFFFF;
	width: 15%;
}
textarea{
	position : absolute;
	left :583px;
	top : 220px;
	width: 14.7%;
	
}
.enviar{
	padding: 6px 8px;
	border: 0px solid;
	border-style: solid;
	position : absolute;
	left :627px;
	top : 365px;
	background-color: #FFFFFF;
}
.enviar:hover{
	padding: 6px 8px;
	border: 0px solid;
	border-style: solid;
	position : absolute;
	left :627px;
	top : 365px;
	color : white;
	background-color: #0A2351;
}


